html,body{
  font-family: 'Roboto', sans-serif;
}

/*label{
  font-size: 2em;
}*/

h1{
  font-family: 'Abril Fatface', cursive;
}

#main-container{
 z-index: 99 !important;
 }

/*#video-container{
  z-index: 89;
}
*/
#canvas-container{
  z-index: -1!important;
}
canvas{
  z-index: -1!important;
}

.inline p{
  display: inline;
}

.title-font{
  font-family: 'Abril Fatface', cursive;
}
button{
  margin-top: 10px;
  color: none;
  border: 2px solid grey;
  /*border: none;
	outline: none;
	border-radius: 0;*/
}

input{
  /*border: none;
	outline: none;
	border-radius: 0;*/
}
.jumbotron{
  margin-top: 10%;
  background-color: rgba(255, 255, 255, 1);
}

.palette{
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;

}

.single-color{
  float: left;
  width: 20px;
  height: 20px;
  margin:0px;
}

.single-palette{
    float: left;
  margin:5px;
}

#video-container{
  z-index: -99;
}
/*
.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px;
}

.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}

.jumbotron .btn-primary:hover {
  background: #7646c1;
}

.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}

.navbar+.jumbotron {
  margin-top: -20px;
}

.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}

.jumbotron .lang-logo img {
  max-width: 100%;
}*/
