<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body style='margin : 0px; overflow: hidden; font-family: Monospace;'>

  <% include ../partials/nav.ejs %>

    <div style='position: absolute; top: 10px; width:100%; text-align: center; z-index: 1;'>
      <a href="http://wearablemedia.studio/" target="_blank">AudRey</a>
    </div>

    <script src="/js/instagram.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>
